<!-- collection list, shown by click "archive" buttom in header -->

<div class="collection_list" id="the_collection_list">
    <div class="posts_by_cate">
        <!-- post list in all collections -->
        <div class="post_list_in_1_collection" id="all">
            <ul>
                {% if site.collection_order %} 
                    {% for col_in_order in site.collection_order %} 
                        {% for collection in site.collections %} 
                {% if collection.label == col_in_order %}
                <p class="h_collection_label">
                    {% if collection.alias %} {{collection.alias}} {% else %} {{collection.label}} {% endif %}
                </p>
                {% for post in collection.docs %} {% if post.publish != false %}
                <li>
                    <a class="a_title" href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                </li>
                {% endif %} {% endfor %}
                <br/> {% endif %} {% endfor %} {% endfor %} {% endif %}
            </ul>
        </div>
    </div>
</div>