<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page">

    {% include header.html %}
    {% include collection_list.html %}

    <div class="main" id="ctner">

      <div class="div_article" id="div_atcl">       
        <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
          {{content}}
        </article>
      </div>

      <div class="div_toc">
        <aside>
          {% include toc.html html=content sanitize=true class="ul_toc" id="ul_toc" h_min=2 h_max=3 %}
        </aside>
      </div>
    </div>
  </body>
</html>
