.page {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  background-image: $image-background;
}
main {
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: center;
  padding-top: $header-height;
  overflow: none;
  margin: 0 auto;
  box-sizing: border-box; // interior border
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 3;
}
main nav {
  align-self: flex-start;
  flex-shrink: 0;
  position: sticky;
  top: $header-height + $gap;
  width: 200px;
  height: auto;
  max-height: 90vh;
  overflow-x: hidden;
  background-color: #ffffff;
  overflow: scroll;

  .active {
    background-color: #99CCFF;
  }
  .h_collection_label {
    margin: 0;
    padding: 2px 4px;
    font-weight: 500;
    &:hover {
      background-color: #99CCFF;
    }
  }
}
main article {
  top: 0;
  flex-grow: 1;
  z-index: 2;
  overflow-x: hidden;
  max-width: 800px;
  margin-left: $gap;
  margin-right: $gap;
  margin-top: $gap;
  padding: 1.5em 1em;
  text-align: left !important;
  background-color: $color-postbg;
}
.main aside {
  position: -webkit-sticky;
  position: sticky;
  top: $header-height + $gap;
  width: 200px;
  flex-shrink: 0;
  overflow-x: hidden;
  align-self: flex-start;
  padding: 0 0;
  z-index: 2;
  text-align: left;
  background-color: $color-postbg;
  ul {
    padding: 0 4px 0 20px;
    li {
      &:hover {
        background-color: #99CCFF;
      }
      a {
        font-size: 1em;
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}
// used to toggle absence of elements
.show {
  visibility: visible !important;
  @include fade_in;
}

// screen auto-adjustment
@media screen and (max-width: $content-width-max) {
  // .page .main {
  //   width: 100% !important; // to avoid the affect of applyment of toggle_maximize()
  //   top: 0 !important;
  //   left: 0 !important;
  //   margin: 0;
  //   background-color: $color-postbg;
  // }
  .div_article {
    max-width: $article-width-max;
  }
  .div_toc {
    display: none;
  }
  // .page .main .div_article {
  //   border: none;
  // }
}
// @media screen and (max-width: 800px) and (min-width: 400px) {
//   .page .main .div_article #main_atcl {
//     padding: 12px 17px 17px 17px;
//   }  
// }
// @media screen and (max-width: 400px) {
//   .page .main {
//     border: $medium-border;
//   }
//   .page .main .div_article #main_atcl {
//     padding: 0px 5px 5px 5px ;
//   }
// }
