// global variables
$color-primary: #333333;
$color-secondary: #ff3333;
$color-warning: #ff0000;
$color-bg: #f6f6f6;
$color-postbg: #ffffff;
$image-background: none;

// font size
$font-size-h1: 1.5em;
$font-size-h2: 1.375em;
$font-size-h3: 1.25em;
$font-size-h4: 1.125em;
$font-size-h5: 1em;
$font-size-h6: 0.96em;
$font-size-primary: 1em;
$font-smaller: 90%;
$font-bigger: 108%;
$blk-duration: 1.2s;
$blk-timing-function: cubic-bezier(0.98, -0.23, 0.65, 0.7);

// layout reset
$header-height: 37px;
$header-btn-icon-size: 17px;
$header-btn-text-size: $header-btn-icon-size * 0.95;
$toc-position: $header-height + 1px;
$footer-icon-size: 14px;
$footer-text-size: $footer-icon-size * 0.9;
$collection-list-header-size: 30px;

// standard border
$thick-border: 2px solid $color-primary;
$secondary-border: 1.3px solid rgba($color-primary, 0.87);
$medium-border: 0.9px solid rgba($color-primary, 0.83);
$thin-border: 0.5px solid rgba($color-primary, 0.6);

// syntax highlight
$code-primary: #333333;
$comment: #999999;
$keyword: #8a31ff;
$type: rgb(195, 233, 25);
$variable: #e24637;
$number: #66faff;
$string: #629755;
$punctuation: #52acf7;
$namespace: #8a076d;
$class: #c43144;
$built-in: #9e7c7c;
$global: #52c96c;
$error: $color-warning;
$code-background: #f6f6f6;
$code-background2: rgba($color-secondary,0.06);
$error-background: #250f0f;
