/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $gap * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $gap / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 20px;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $gap 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $gap / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$gap / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $gap / 2;
  padding-left: $gap / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$gap} / 2));
  width: calc(35% - (#{$gap} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$gap} / 2));
  width: calc(20% - (#{$gap} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$gap} / 2));
  width: calc(45% - (#{$gap} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$gap} / 2));
    width: calc(50% - (#{$gap} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$gap} / 2));
    width: calc(100% - (#{$gap} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$gap} / 2));
    width: calc(100% - (#{$gap} / 2));
  }
}


/**
 * Page content
 */
.site-main {
  max-width: -webkit-calc(#{$main-width});
  max-width: calc(#{$main-width});
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  //@extend %clearfix;

  display: flex;
  justify-content: center;
  position: relative;

}

/* 主要内容区，文章列表，文章内容 */
.content {
  //width: 100%;
  max-width: -webkit-calc(#{$content-width} - (#{$gap} * 2));
  max-width: calc(#{$content-width} - (#{$gap} * 2));
  background-color: $content-color;
  //margin-right: auto;
  //margin-left: auto;
  padding: 1em;
  //@extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} + (#{$gap} * 2));
    max-width: calc(#{$content-width} + (#{$gap} * 2));
    margin: 0 auto;
  }

  flex: 1;


}

/* 侧边区，文章目录 */
.side {
  width: $side-width;
  margin-left: 1em;
  background-color: $content-color;
  padding-top: 20px;

  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;

  @include media-query($on-laptop) {
    display: none;
  }

  ol, ul {
    margin-left: .5em;
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      &:link {
        color: #333333;
      }

      &:visited {
        color: #333333;
      }

      &:hover {
        color: #333333;
        text-decoration-line: none;
        background-color: #aaffaa;
      }

      &:active {
        color: #2a7ae2;
      }
    }


  }

}


// 文章列表
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $gap/3;
  }
}

.post-header {
  margin-bottom: $gap;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-content {
  padding-left: $gap;
  margin-bottom: 0;

  h2 {
    @include relative-font-size(1.5);
    font-weight: bold;
    margin-left: -$gap;
    margin-top: $gap;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h3 {
    @include relative-font-size(1.25);
    font-weight: bold;
    margin-left: -$gap/2;

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h4 {
    @include relative-font-size(1.125);
    font-weight: bold;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  //p, blockquote,
  //ul, ol, dl, figure  {
  //  margin-left: $spacing-unit;
  //}

  ul > li {
    //color: #339933;

    & > ul > li {
      color: #663399;

      & > ul > li {
        color: #FF33CC;
      }
    }
  }


}


.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-yellow {
  color: yellow;
}

.text-purple {
  color: purple;
}

.text-green {
  color: green;
}
