---
layout: default
---


<div class="wrapper">
  {%- if site.categories.size > 0 -%}

<!--  <h2 class="post-list-heading">文章分类</h2>-->

  <ul style="list-style: none;margin-left: 10px;">
    {%- for category in site.categories -%}
    <p>{{ category | first }}</span>（{{ category | last | size }}篇）</span></p>

    <ul class="post-list">
      {% assign reverse_posts = category.last | reverse %}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      {% for post in reverse_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><!--<br/>{{ post.date | date: date_format }}--></li>
      {% endfor %}
    </ul>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>

<!--<aside >
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.hululu.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</aside>-->

<!--<div style="float: left;">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.hululu.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>-->
