---
layout: default
---


<div class="content">
  {%- if site.categories.size > 0 -%}

  <ul style="list-style: none ;margin-left: 10px;">
    {%- for category in site.categories -%}
    <p>{{ category | first }}</span>（{{ category | last | size }}篇）</span></p>

    <script>

      console.log("{{ category.size }}")
    </script>

    <ul class="post-list">
      {% assign reverse_posts = category.last | reverse %}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      {% for post in reverse_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><!--<br/>{{ post.date | date: date_format }}--></li>
      {% endfor %}
    </ul>
    {%- endfor -%}
  </ul>

  {%- endif -%}
</div>


<div class="side">
  <aside id="toc"></aside>
</div>
